<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>transmission remote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB4348081EA78565008FA2E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB43481F1EA78565008FA2E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB43482A1EA78565008FA2E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
